body {
    background-image: -webkit-linear-gradient(top,rgb(240, 69, 69),#ff6975);
    background-image: -o-linear-gradient(top,rgb(240, 69, 69) 0,#ff6975 100%);
    background-image: linear-gradient(180deg,rgb(240, 69, 69) 0,#ff6975);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFF0060",endColorstr="#FFFF6975",GradientType=0);
}